<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_person.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact_person.phone %>
</p>

<p>
  <strong>Position:</strong>
  <%= @contact_person.position %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_person.email %>
</p>

<p>
  <strong>Decision maker:</strong>
  <%= @contact_person.decision_maker %>
</p>

<p>
  <strong>Client:</strong>
  <%= @contact_person.client %>
</p>

<%= link_to 'Edit', edit_contact_person_path(@contact_person) %> |
<%= link_to 'Back', contact_people_path %>
